.page-header
  %h1 
    %span.fa.fa-tachometer
    Dashboard

.row
  .col-md-6
    .panel.panel-default
      .panel-heading Recent Workouts
      .panel-body
  .col-md-6
    .panel.panel-default
      .panel-heading Targets
      .panel-body
.row
  .col-md-12
    .panel.panel-default
      .panel-heading Progress
      .panel-body
