.container
  .jumbotron
    %h1 Path of the Strong 
    = link_to login_path, class: 'btn btn-primary' do
      %span.fa.fa-sign-in
      Log In
    = link_to signup_path, class: 'btn btn-success' do
      %span.fa.fa-user-plus
      Sign Up
